
<nav class = "navbar navbar-expand-lg">
  <mat-toolbar color="primary">
    <button mat-icon-button  class=" menu" (click) = "opened =!opened" aria-label="Example icon-button with menu icon" >
      <mat-icon>menu</mat-icon>
    </button>
    <span class = "naslov"><a routerLink="/" class = "naslov">Maravilla Arte</a></span>

    <span class="example-spacer"></span>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="logOut()">
      <mat-icon>exit_to_app</mat-icon>
    </button>

  </mat-toolbar>


</nav>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" [(opened)] = "opened">








    <mat-list>
      <a routerLink="/kursevi">Kursevi</a></mat-list>

    <mat-list> <a routerLink="/plesovi">Plesovi</a></mat-list>
    <mat-list> <a routerLink="/grupe">Grupe</a></mat-list>
    <mat-list> <a routerLink="/prijave">Prijave</a></mat-list>
  </mat-drawer>

<div class = "container" id = "main-container">

  <div class="mt-5">
    <h1>Prijave</h1></div>

  <div class="row">

    <div class="col-md-6 col-xl-3" *ngFor="let prijava of prijave">
      <mat-card class="example-card" >
        <mat-card-header >
          <mat-card-title>Prijava: {{prijava?.kurs?.nazivKursa}}</mat-card-title>

        </mat-card-header>
        <br/>
        <mat-card-content>
          <mat-list>
            <p><b>Kurs:</b> {{prijava?.kurs?.nazivKursa}}</p>
          </mat-list>

          <mat-divider></mat-divider>
          <mat-list>
            <p><b>Korisnik:</b> {{prijava?.korisnik?.ime}}  {{prijava?.korisnik?.prezime}} - {{prijava?.korisnik?.korisnickoIme}}</p>
          </mat-list>
          <mat-divider></mat-divider>
          <mat-list>
            <p><b>Datum prijave: </b> {{prijava?.datumPrijave | date:'dd/MM/yyyy' }}</p>
          </mat-list>
          <mat-divider></mat-divider>
          <mat-list>
            <p><b>Napomena:</b> {{prijava?.napomena}} </p>
          </mat-list>
          <mat-divider></mat-divider>
          <mat-list>
            <p><b>Grupa:</b> {{prijava?.grupa?.nazivGrupe}} </p>
          </mat-list>
        </mat-card-content>
<mat-divider></mat-divider>


        <mat-card-actions align="end" class="float-right btn-group btn-group-sm">
          <button mat-icon-button  class="example-icon" aria-label="Example icon-button with share icon" (click)="openEditDialog(prijava)" >
            <mat-icon>edit</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

</div>
</mat-drawer-container>
