

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

a {
  margin: 0;
  padding: 1rem;
  background-color: rebeccapurple;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  color: white;
  text-decoration: none;

  &:hover {
    background-color: blueviolet;
  }
}
.example-spacer {
  flex: 1 1 auto;
}

p{
  margin:0;
  background-color: rebeccapurple;
}
.naslov{
  margin: 0;
  padding: 1rem;
  background-color: rebeccapurple;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  color: white;
  text-decoration: none;
  font-family: 'Dancing Script', cursive;
  font-size: xx-large;
}

button{
  &:hover {
    background-color: blueviolet;
  }
}
