<form #addForm = "ngForm">
<h1 mat-dialog-title class = "title">Dodaj kurs  </h1>
<div mat-dialog-content>

    <p>Naziv kursa</p>
    <mat-form-field >
        <mat-label >Unesi naziv</mat-label>
        <input  ngModel name = "nazivKursa" matInput required>
    </mat-form-field>
        <p>Trajanje u nedeljama</p>
        <mat-form-field>
            <mat-label >Uneti broj</mat-label>
            <input ngModel name = "trajanjeUNedeljama" matNativeControl matInput placeholder="0" required>
        </mat-form-field>
        <br>
        <mat-form-field>

            <mat-label>Ples</mat-label>
            <mat-select ngModel name = "ples" required>
                <mat-option  name = "ples" *ngFor = "let ples of plesovi" [value] = "ples">{{ples.nazivPlesa}}</mat-option>

            </mat-select>
        </mat-form-field>

</div>
<div mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">Otkaži</button>
    <button mat-raised-button type = "submit" [disabled] = "addForm.invalid"  color = "primary"
    (click)="dodajKurs(addForm)">Sačuvaj kurs</button>
</div>
</form>
