<nav class = "navbar navbar-expand-lg">
  <mat-toolbar color="primary">
    <button mat-icon-button  class="example-icon" (click) = "opened =!opened" aria-label="Example icon-button with menu icon" >
      <mat-icon>menu</mat-icon>
    </button>
    <span class = "naslov">Maravilla Arte</span>
    <span><a routerLink="/">Home</a></span>
    <span><a routerLink="/kursevi">Kursevi</a></span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>

  </mat-toolbar>


</nav>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" [(opened)] = "opened">




  <mat-list> <a routerLink="/">Home</a></mat-list>



    <mat-list>
      <a routerLink="/kursevi">Kursevi</a></mat-list>
  </mat-drawer>


  <div class="body">
    <router-outlet />
  </div>
</mat-drawer-container>



