.card {
  border: none;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;
  margin-top: 30px;
  background-color: #801ca4;

}
.list-group, .list-group-item {
  border: none;
  /*-webkit-box-shadow: 0 1px 2px 0 #eeee;*/
  /*box-shadow: 0 1px 2px 0 #eeee;*/

  background-color: #801ca4;
}
.addButton{
  background-color: #801ca4;

  margin-top: 30px;

}
.card-body{
  font-size: large;
  text-align: center;
}
h5{
  color: black;
}

.container{
  margin:0px;
  padding: 0;
}
.row{
  margin: 0px;
}
.form-control{

  outline-color: #801ca4;
  border-inline-color: #801ca4;
  border-color: #801ca4;
  background-color: #303030;
}
.form-control:focus {
  border-color: blueviolet;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(128, 28, 164, 1);

}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
}
