
<div class = "container" id = "main-container">
<div>
  <button mat-raised-button class = "addButton" (click)="openDialog()">Dodaj novi kurs</button>
</div>


<div class = "row">
  <!-- ovde pozivamo sa ngFor sve zaposlene iz baze da imaju ovakav izgled kartica -->
  <div *ngFor="let kurs of kursevi" class="col-md-6 col-xl-3">
    <div class="card m-b-30">
      <div class="card-body ">

        <div class="card-title text-center ">
          <b>{{ kurs?.nazivKursa }}</b>

        </div>



      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <b>Ples:</b> {{ kurs?.ples.nazivPlesa }}
        </li>
        <li class="list-group-item">
          <b>Trajanje u nedeljama:</b> {{ kurs?.trajanjeUNedeljama }}
        </li>
      </ul>
      <div class="card-body">
        <div class="float-right btn-group btn-group-sm">
          <!-- dugmad za edit i za delete -->
          <button mat-icon-button  class="example-icon" aria-label="Example icon-button with share icon" (click)="openEditDialog(kurs)" >
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-icon-button (click)="openRemoveDialog(kurs)" class="example-icon" aria-label="Example icon-button with share icon" >
            <mat-icon>delete</mat-icon>
          </button>

        </div>
      </div>
    </div>
  </div>
</div>








  </div>
