.card {
  border: none;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;
  margin-top: 30px;
  background-color: #801ca4;
}
.list-group, .list-group-item {
  border: none;
  /*-webkit-box-shadow: 0 1px 2px 0 #eeee;*/
  /*box-shadow: 0 1px 2px 0 #eeee;*/

  background-color: #801ca4;
}

.card-body{
  font-size: large;
  text-align: center;
}
/*.w-60 {*/
/*  width: 60px;*/
/*}*/
/*h1,*/
/*h2,*/
/*h3,*/
/*h4,*/
/*h5,*/
/*h6 {*/

/*  margin: 0 0 10px;*/
/*  font-weight: 600;*/
/*}*/

