<nav class = "navbar navbar-expand-lg">
  <mat-toolbar color="primary">
    <button mat-icon-button  class=" menu" (click) = "opened =!opened" aria-label="Example icon-button with menu icon" >
      <mat-icon>menu</mat-icon>
    </button>
    <span class = "naslov"><a routerLink="/" class = "naslov">Maravilla Arte</a></span>

    <span class="example-spacer"></span>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="logOut()">
      <mat-icon>exit_to_app</mat-icon>
    </button>

  </mat-toolbar>


</nav>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" [(opened)] = "opened">








    <mat-list>
      <a routerLink="/kursevi"><b>Kursevi</b></a></mat-list>

    <mat-list> <a routerLink="/plesovi"><b>Plesovi</b></a></mat-list>
    <mat-list> <a routerLink="/grupe"><b>Grupe</b></a></mat-list>
    <mat-list> <a routerLink="/prijave"><b>Prijave</b></a></mat-list>
  </mat-drawer>






<div class ="container">
    <div class="addButton" >
      <button mat-raised-button  color = "primary" routerLink="/grupe/add-grupa" ><b>Dodaj novu grupu</b></button>
    </div>
    <div class ="searchbar mt-4 mb-4">
        <form class = "form-inline my-2 my-lg-0">
            <input type = "search" (ngModelChange) = "searchGrupa(key.value)"  #key = "ngModel" ngModel name = "key" id = "searchName" class = "form-control" placeholder="Pretraži grupe" required/>
        </form>
    </div>

    <div class="row">
        <div class="col-md-6 col-xl-3" *ngFor="let grupa of grupe">
        <mat-card class="example-card" >
            <mat-card-header >
                <mat-card-title>{{grupa?.nazivGrupe}}</mat-card-title>

            </mat-card-header>
            <br/>
            <mat-card-content>
                <mat-list>
               <p><b>Kurs:</b> {{grupa?.kurs?.nazivKursa}}</p>
                </mat-list>
              <mat-divider></mat-divider>
               <mat-list>
                <p><b>Datum početka rada: </b> {{grupa?.datumPocetkaKursa | date:'dd/MM/yyyy' }}</p>
                </mat-list>    </mat-card-content>

          <mat-divider></mat-divider>
            <mat-card-actions align="end">
                <button mat-raised-button  class = "pogledajButton" (click)="openDialog(grupa)">Raspored</button>

            </mat-card-actions>
        </mat-card>
        </div>
    </div>
</div>
</mat-drawer-container>
