body {
  margin: 0;

}

* {
  font-family: sans-serif;
}

input {
  padding: 0.75rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 3px;
  font-size: 1rem;

  &:focus-visible {
    outline: none;
    border: 1px solid rebeccapurple;
  }
}

button {
  padding: 0.75rem;
  background: #801ca4;
  color: white;
  font-weight: bold;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 3px;

  &:hover {
    opacity: 0.9;
  }

  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
